<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>1</key>
        <string>Weebify</string>
        <key>2</key>
        <string>81843408</string>
        <key>13</key>
        <string>132</string>
        <key>17</key>
        <string>723</string>
        <key>6</key>
        <string>108331</string>
        <key>9</key>
        <string>37</string>
        <key>10</key>
        <string>18</string>
        <key>11</key>
        <string>29</string>
        <key>14</key>
        <string>0</string>
        <key>15</key>
        <string>2</string>
        <key>16</key>
        <string>9273963</string>
        <key>3</key>
        <string>4620</string>
        <key>52</key>
        <string>680</string>
        <key>8</key>
        <string>0</string>
        <key>46</key>
        <string>15643</string>
        <key>4</key>
        <string>284</string>
        <key>7</key>
        <string>9273963</string>
    </dict>
</plist>
